body {



background-image: url("crudeBackground.jpg");

}
/*adjusts color of navbar*/
.navbar {
  background-color: #1d1d1c;
}
/*adjusts the color of the sign up button*/
.orange-btn {
  color: #D4D4D4;
  background-color: #A65A28;
}

/* For Sign up button */
.signUp {
/* Variables */
--button_radius: 0.75em;
--button_color: #D4D4D4;
padding: 0.25em .05em;
--button_outline_color: #A65A28;
font-size: 15px;
font-weight: bold;
border: none;
border-radius: var(--button_radius);
background: var(--button_outline_color);
}
/* sign up shadow */
.signUp_top {
display: block;
box-sizing: border-box;
border: 1px solid var(--button_outline_color);
border-radius: var(--button_radius);
padding: 0.75em 1.5em;
background: var(--button_color);
color: var(--button_outline_color);
transform: translateY(-0.2em);
transition: transform 0.1s ease;
}
button:hover .signUp_top {
/* Pull the button upwards when hovered */
transform: translateY(-0.33em);
}

button:active .signUp_top {
/* Push the button downwards when pressed */
transform: translateY(0);
}


.col-lg-6 {
  border-radius:80px ;
    background-color: #1d1d1c;
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  
  
}

.col-lg-6 .separator-line{
    background-color: #1d1d1c;
    color: white;
    padding-left: 0;
    padding-right: 0;
    border-right: 1px solid #ccc;
    height: 100%;
    
}
  
.container {
    color: white;
    background-color: #1d1d1c;
    border-radius:80px ;
    
    
  }
  .row{
    
  }

  .comments-container{
    max-height: 700px;
    overflow-y: scroll;

  }
  .comments-container::-webkit-scrollbar {
    width: 12px;
   
}

.comments-container::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.comments-container::-webkit-scrollbar-thumb {


    border-radius: 8px;
    background-color: #363636;
}


  .wrapper {
    background-color: #1d1d1c;
    color: white;
    display: flex;
    flex-direction: column;
    border-radius:80px ;
  }
  .back-button{
    width: 70px;
    height: 50px;
    padding-left: 2rem;
    padding-top: 1rem;
  }

  .upper-section {
    margin-bottom: 10px;
  }
  
  .middle-section {
    flex-grow: 1;
    overflow-y: auto;
    
  }
  
  .bottom-section {
    margin-top: 10px;
  }
  
  .comment-box {
    margin:5px;
    padding: 10px;
    background-color: #272727;
    border-radius: 15px;
    color:#fff;
  }
  .comment-box a{
    color:#A65A28;
    float:right;
    padding-right: 0.5rem;
    
  }
  
  .comment-box button{
    width: 30px;
    height: 30px;
  }
  .comment {
    margin-bottom: 10px; /* Adjust the spacing between comments as desired */
  }
  
  .comment-content {
    padding: 10px;
  }

  .comment-box a span{
    font-size: 1.7em;
  }
  
  .comment-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
    
  }
  
  .comment-input {
    flex: 1;
    resize: none;
    border-radius: 15px;
    width:200px;
  }
  
  .comment-submit {
    margin-left: 10px;
  }
  
  
  
@media (max-width: 768px) {
    .comment-box {
        position: static;
        padding: 10px;
    }
}

  .separator-line {

}

.form-group p{
  font-size: larger;
  color:#A65A28;
}

.creator-name p{

  font-size: larger;
  color:#A65A28;
}
.form-group p, .form-group label{
  padding-left: 2rem;
}
  