body{
	
	background-color: #1d1d1c
}
/*adjusts color of navbar*/
.navbar {
    background-color: #1d1d1c;
  }

.content {
    text-align: center;
    
}

.content > p, .content > div {
    
    font-size: 22px;
	color: #fff;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	margin: 25px 0;
	padding: 25px;
	background-color: #1d1d1c;
}

a{
	color:#1d1d1c;
}

.btn {
	border: none; /* Remove borders */
	color: #D4D4D4; /* White text */
	padding: 12px 16px; /* Some padding */
	font-size: 30px; /* Set a font size */
	cursor: pointer; /* Mouse pointer on hover */
  }

  .btn:hover {
	background-color: #A65A28;
  }

  .btnNow {
	background-color: #A65A28;
	border: none; /* Remove borders */
	color: #D4D4D4; /* White text */
	padding: 12px 16px; /* Some padding */
	font-size: 30px; /* Set a font size */
	cursor: pointer; /* Mouse pointer on hover */
  }

  .btnNow:hover {
	background-color: #A65A28;
  }